*{
    color: white;
}
body{
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
}
.nav{
    display: flex;
    justify-content: center;
    
}
.nav li{
    list-style: none;
    
}
.nav li a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
.active{
    background-color: #11e6f5;
}
.nav li a:hover{
    background-color: #11e6f5;
}
.login{
    width: 30%;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(255, 104, 4);
    padding: 10px 20px;
    margin: 10% 8% auto auto;
}
.login-form{
    margin-left: 20px;
}
.title{
    text-align: center;
}
.text-input{
    width: 80%;
    margin-bottom: 20px;
    color: black;
}
.login-btn{
    border: none;
    padding: 10px 30px;
    margin: 10px 0;
    background-color: blue;
    font-weight: bold;
    cursor: pointer;
}
.login-btn:hover{
    background-color: rgb(170, 170, 241);
}
#transaction-sec{
    display: none;
}
.balance-row, .transaction-row{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 100px auto 20px;
}
.balance-row .col{
    width: 20%;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.deposit{
    background-color: rgb(37, 245, 245);
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: lime;
}
.transaction-row .col{
    padding:0 30px 20px;
    border-radius: 10px;
    width: 30%;
    background-color: #CA4706;
}
#deposit-amount, #withdraw-amount{
    width: 100%;
    margin: 10px 0;
    color: black;
    
}
.deposit-btn, .withdraw-btn{
    border: none;
    padding: 7px 30px;
    border-radius: 3px;
    font-weight: bold;
    background-color: brown;
    cursor: pointer;
}
.deposit-btn:hover, .withdraw-btn:hover{
    background-color: rgb(148, 147, 148);
}